body{
    color: black;
    background: purple;
    font-family: "IM Fell English SC", serif;
    margin: 8px;
    margin-bottom: 100px;



    margin-top: 80px;









.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: ;












    .categoria-videos imag
    height: 200;
opacity:0.5;
}
.categoria-videos img hover
    opacity: 1.0;
    border: 3px solid gray;


    font-size: 30px;